.cart-no{
    position: absolute;
    background-color: rgb(228, 94, 94);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
    top: -8px;
    right: 38px;
    
}

a{
   color: rgb(59, 57, 57); 
   text-decoration: none;
    &.active{
        color: rgb(1, 65, 114);
        text-decoration: underline;
    }
}